@import './index.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
.skills{
    position: relative;
    font-size: 40px;
    height: 300px;
    background: $yellow;
    overflow: hidden;
    text-align: center;
    padding-top: 1rem;
    &__header{
        font-weight: 600;
        font-family: 'Roboto Slab', serif;
    }
    &__text{
        position: absolute;
        white-space: nowrap;
        font-family: 'Roboto Slab', serif;

        &--left{
            left: 0;
            top: 6rem;           
        }
        &--right{
            right: 0;
            top: 11rem;
        }
    }
}